In [1]:
cd /Users/eliasimos/Desktop/attestations\ data

/Users/eliasimos/Desktop/attestations data

In [2]:
ls

active_validators_over_time.csv
bc_block_attestations_numbers1.csv
bc_block_attestations_numbers10.csv
bc_block_attestations_numbers2.csv
bc_block_attestations_numbers3.csv
bc_block_attestations_numbers4.csv
bc_block_attestations_numbers5.csv
bc_block_attestations_numbers6.csv
bc_block_attestations_numbers7.csv
bc_block_attestations_numbers8.csv
bc_block_attestations_numbers9.csv
epoch_slot.csv
ffg_requirement_per_slot.csv
missed_slot_indices.csv
orphaned_slot_indices.csv
proposer_effectiveness.csv
zero_atts_yet_proposed_slot_indices.csv

In [3]:
# load useful packages
import pandas as pd
import numpy as np
import pylab as pl
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import statsmodels.api as sm
# add seaborn viz
sns.set()

Load up all partitioned csvs

In [4]:
atts1 = pd.read_csv('bc_block_attestations_numbers1.csv')
atts1.head()

,id,input_slot,slot,block_slot,block_index,committeeindex,source_epoch,target_epoch,validators
0,1,1,0,1,0,1,0,0,"{2763,2256,11588,3679,7119,9906,6905,10792,457..."
1,2,1,0,1,1,0,0,0,"{2070,10370,11439,19300,15116,11514,19895,3443..."
2,3,1,0,1,2,2,0,0,"{19012,2994,3875,9963,8696,7033,11148,7006,139..."
3,4,1,0,1,3,3,0,0,"{9172,11101,14268,14207,15941,3072,9873,12303,..."
4,5,1,0,1,4,2,0,0,{18136}

In [5]:
atts2 = pd.read_csv('bc_block_attestations_numbers2.csv')
atts2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 315380 entries, 0 to 315379
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              315380 non-null  int64
 1   input_slot      315380 non-null  int64
 2   slot            315380 non-null  int64
 3   block_slot      315380 non-null  int64
 4   block_index     315380 non-null  int64
 5   committeeindex  315380 non-null  int64
 6   source_epoch    315380 non-null  int64
 7   target_epoch    315380 non-null  int64
 8   validators      315380 non-null  object
dtypes: int64(8), object(1)
memory usage: 21.7+ MB

In [6]:
atts3 = pd.read_csv('bc_block_attestations_numbers3.csv')
atts3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1586461 entries, 0 to 1586460
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   id              1586461 non-null  int64
 1   input_slot      1586461 non-null  int64
 2   slot            1586461 non-null  int64
 3   block_slot      1586461 non-null  int64
 4   block_index     1586461 non-null  int64
 5   committeeindex  1586461 non-null  int64
 6   source_epoch    1586461 non-null  int64
 7   target_epoch    1586461 non-null  int64
 8   validators      1586461 non-null  object
dtypes: int64(8), object(1)
memory usage: 108.9+ MB

In [7]:
atts4 = pd.read_csv('bc_block_attestations_numbers4.csv')
atts4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6040024 entries, 0 to 6040023
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   id              int64
 1   input_slot      int64
 2   slot            int64
 3   block_slot      int64
 4   block_index     int64
 5   committeeindex  int64
 6   source_epoch    int64
 7   target_epoch    int64
 8   validators      object
dtypes: int64(8), object(1)
memory usage: 414.7+ MB

In [8]:
atts5 = pd.read_csv('bc_block_attestations_numbers5.csv')
atts5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47784 entries, 0 to 47783
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              47784 non-null  int64
 1   input_slot      47784 non-null  int64
 2   slot            47784 non-null  int64
 3   block_slot      47784 non-null  int64
 4   block_index     47784 non-null  int64
 5   committeeindex  47784 non-null  int64
 6   source_epoch    47784 non-null  int64
 7   target_epoch    47784 non-null  int64
 8   validators      47784 non-null  object
dtypes: int64(8), object(1)
memory usage: 3.3+ MB

In [9]:
atts6 = pd.read_csv('bc_block_attestations_numbers6.csv')
atts6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1997412 entries, 0 to 1997411
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   id              int64
 1   input_slot      int64
 2   slot            int64
 3   block_slot      int64
 4   block_index     int64
 5   committeeindex  int64
 6   source_epoch    int64
 7   target_epoch    int64
 8   validators      object
dtypes: int64(8), object(1)
memory usage: 137.2+ MB

In [10]:
atts7 = pd.read_csv('bc_block_attestations_numbers7.csv')
atts7.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 554306 entries, 0 to 554305
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              554306 non-null  int64
 1   input_slot      554306 non-null  int64
 2   slot            554306 non-null  int64
 3   block_slot      554306 non-null  int64
 4   block_index     554306 non-null  int64
 5   committeeindex  554306 non-null  int64
 6   source_epoch    554306 non-null  int64
 7   target_epoch    554306 non-null  int64
 8   validators      554306 non-null  object
dtypes: int64(8), object(1)
memory usage: 38.1+ MB

In [11]:
atts8 = pd.read_csv('bc_block_attestations_numbers8.csv')
atts8.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296266 entries, 0 to 296265
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              296266 non-null  int64
 1   input_slot      296266 non-null  int64
 2   slot            296266 non-null  int64
 3   block_slot      296266 non-null  int64
 4   block_index     296266 non-null  int64
 5   committeeindex  296266 non-null  int64
 6   source_epoch    296266 non-null  int64
 7   target_epoch    296266 non-null  int64
 8   validators      296266 non-null  object
dtypes: int64(8), object(1)
memory usage: 20.3+ MB

In [12]:
atts9 = pd.read_csv('bc_block_attestations_numbers9.csv')
atts9.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4491789 entries, 0 to 4491788
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   id              int64
 1   input_slot      int64
 2   slot            int64
 3   block_slot      int64
 4   block_index     int64
 5   committeeindex  int64
 6   source_epoch    int64
 7   target_epoch    int64
 8   validators      object
dtypes: int64(8), object(1)
memory usage: 308.4+ MB

In [13]:
atts10 = pd.read_csv('bc_block_attestations_numbers10.csv')
atts10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1250870 entries, 0 to 1250869
Data columns (total 9 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   id              1250870 non-null  int64
 1   input_slot      1250870 non-null  int64
 2   slot            1250870 non-null  int64
 3   block_slot      1250870 non-null  int64
 4   block_index     1250870 non-null  int64
 5   committeeindex  1250870 non-null  int64
 6   source_epoch    1250870 non-null  int64
 7   target_epoch    1250870 non-null  int64
 8   validators      1250870 non-null  object
dtypes: int64(8), object(1)
memory usage: 85.9+ MB

Now append the tables one below the other

In [14]:
# concatenate the datasets
atts_whole = pd.concat([atts1, atts2, atts3, atts4, atts5, atts6, atts7, atts8, atts9, atts10], axis=0, join='outer', ignore_index=False)
atts_whole.sort_values(by=['input_slot'],  inplace=True)

In [15]:
atts_whole
# time taken - 00:02:40:00

,id,input_slot,slot,block_slot,block_index,committeeindex,source_epoch,target_epoch,validators
0,1,1,0,1,0,1,0,0,"{2763,2256,11588,3679,7119,9906,6905,10792,457..."
1,2,1,0,1,1,0,0,0,"{2070,10370,11439,19300,15116,11514,19895,3443..."
2,3,1,0,1,2,2,0,0,"{19012,2994,3875,9963,8696,7033,11148,7006,139..."
3,4,1,0,1,3,3,0,0,"{9172,11101,14268,14207,15941,3072,9873,12303,..."
4,5,1,0,1,4,2,0,0,{18136}
...,...,...,...,...,...,...,...,...,...
1250812,20928814,466334,466333,466334,23,11,14571,14572,"{40030,71699,5823,43797,49506,69438,8189,42313..."
1250811,20928813,466334,466333,466334,22,6,14571,14572,"{55176,47314,13871,40735,66883,7363,62498,7064..."
1250810,20928812,466334,466333,466334,21,6,14571,14572,"{55176,47314,13871,40735,66883,7363,62498,7064..."
1250808,20928810,466334,466333,466334,19,13,14571,14572,"{55310,66830,56222,44284,72490,20697,38693,705..."
1250869,20928871,466334,466314,466334,80,4,14571,14572,"{49042,49147,25216,37784,38368,20237,69400,660..."

In [ ]:
# search for duplicates - there should be none
duplicate_rows = atts_whole[atts_whole.duplicated()]
duplicate_rows
# time taken - 01:07:25:00 and not finished

In [ ]:
# single out slots
input_slot = atts_whole.filter(['input_slot'], axis=1)
input_slot = input_slot['input_slot'].to_list()

In [ ]:
# program to Find missing integers in list 
def find_missing(lst): 
    start = lst[0] 
    end = lst[-1] 
    return sorted(set(range(start, end + 1)).difference(lst)) 
# driver code 
lst = input_slot 
# print(find_missing(lst))
missing_slots = pd.DataFrame(find_missing(lst), columns=['missing_slots'])
missing_slots

In [ ]:
# load up a df with all the missed slots in the main dataset
missed_slot_indices = pd.read_csv('missed_slot_indices.csv')
missed_slot_indices = missed_slot_indices.loc[missed_slot_indices['slot'] < 466335]
missed_slot_indices.drop(columns=['Unnamed: 0'])

In [ ]:
# check 
missing_slots_comps_1 = pd.merge(left=missing_slots, right=missed_slot_indices, how='left', left_on='missing_slots', right_on='slot')
missing_slots_comps_1['check'] = missing_slots_comps_1['missing_slots'] - missing_slots_comps_1['slot']
missing_slots_comps_1 = missing_slots_comps_1.loc[missing_slots_comps_1['check'] != 0]
missing_slots_comps_1.drop(columns=['Unnamed: 0', 'slot', 'status'])

In [ ]:
# load up a df with all the orphaned slots in the main dataset
orphaned_slot_indices = pd.read_csv('orphaned_slot_indices.csv')
orphaned_slot_indices = orphaned_slot_indices.loc[missed_slot_indices['slot'] < 466335]
orphaned_slot_indices.drop(columns=['Unnamed: 0'])

In [ ]:
# check 
missing_slots_comps_2 = pd.merge(left=missing_slots_comps_1, right=orphaned_slot_indices, how='left', left_on='missing_slots', right_on='slot')
#missing_slots_comps_1['check'] = missing_slots_comps_1['missing_slots'] - missing_slots_comps_1['slot']
missing_slots_comps_2 = missing_slots_comps_2.loc[missing_slots_comps_2['status_y'] != 'orphaned']
missing_slots_comps_2 = missing_slots_comps_2.drop(columns=['Unnamed: 0_x', 'slot_x', 'status_x', 'check', 'Unnamed: 0_y', 'slot_y', 'status_y'])
missing_slots_comps_2

In [ ]:
# load up a df with all the 0 attestations yet proposed slots in the main dataset
zero_atts_yet_proposed_slot_indices = pd.read_csv('zero_atts_yet_proposed_slot_indices.csv')
zero_atts_yet_proposed_slot_indices = zero_atts_yet_proposed_slot_indices.loc[zero_atts_yet_proposed_slot_indices['slot'] < 466335]
zero_atts_yet_proposed_slot_indices = zero_atts_yet_proposed_slot_indices.loc[zero_atts_yet_proposed_slot_indices['slot'] > 0]
zero_atts_yet_proposed_slot_indices.drop(columns=['Unnamed: 0'])

In [ ]:
# check 
missing_slots_comps_3 = pd.merge(left=missing_slots_comps_2, right=zero_atts_yet_proposed_slot_indices, how='left', left_on='missing_slots', right_on='slot')
missing_slots_comps_3['check'] = missing_slots_comps_3['missing_slots'] - missing_slots_comps_3['slot']
#missing_slots_comps_3 = missing_slots_comps_3.loc[missing_slots_comps_2['status_y'] != 'orphaned']
missing_slots_comps_3 = missing_slots_comps_3.drop(columns=['Unnamed: 0', 'slot', 'status', 'attestationscount'])
missing_slots_comps_3 = missing_slots_comps_3.loc[missing_slots_comps_3['check'] != 0]
missing_slots_comps_3

In [ ]:
#combine all 3 missing cases
missing_slots_whole = pd.concat([missed_slot_indices, orphaned_slot_indices, zero_atts_yet_proposed_slot_indices], axis=0, join='outer', ignore_index=False)
missing_slots_whole = missing_slots_whole.drop(columns=['Unnamed: 0', 'attestationscount'])
missing_slots_whole = missing_slots_whole.rename(columns={'slot':'input_slot'})
missing_slots_whole

In [ ]:
# add status column to atts whole
atts_whole['status'] = 'proposed'
atts_whole.tail(1)

In [ ]:
# concat the two sets
atts_whole_final = pd.concat([atts_whole, missing_slots_whole], axis=0, join='outer', ignore_index=False)
atts_whole_final_check = atts_whole_final.loc[atts_whole_final['input_slot'] == 2]
atts_whole_final_check

In [ ]:
atts_whole_final_check.info()